<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>newsType</key>
		<string>0</string>
		<key>title</key>
		<string>74岁老教师街头卖瓜救孙女 两天募集&apos;瓜钱&apos;10万</string>
		<key>content</key>
		<string>南阳街头 市民买瓜不问价
7月10日下午，南阳市百里奚路与麒麟路交叉口北约200米路东一个新建小区的门口，头发稀疏的陈天清不时被前来捐款的市民和他教过的学生拉住。
陌生的人和老人握了手，留下钱，有一百元的有贰佰元的，他们很多人不等老人说声“谢谢”就离开了。凡是他学生的，都是先自报家门好多人自从离开学校，就再没见过陈天清。
42岁的李伟是南召县农业局一名工作人员，他知道陈天清的遭遇后，专门赶到现场，看看老师，买个西瓜。
说是买瓜，其实很多人是来捐款的。聂森和石磊都是陈老师教过的学生，前一天，他们送来了在同学圈里募捐的5500元钱，7月10日，他俩又送来了5150元。见来捐款的人太多，李伟抹抹眼说：“老师您保重，我几天再来看您。”
离陈天清约5米远地方，一个简易棚下，有一个临时的瓜摊，10几名南阳爱心志愿服务联合会的志愿者门，忙着把上一车卖剩下的几个瓜搬走腾地方，以便把刚到的一机动三轮车西瓜卸下来。
瓜摊前，摆着一个有机塑料制作的高约50厘米、厚约15厘米的捐款箱。大河网记者采访时，不时有市民来到瓜摊钱，不问价钱，不问瓜的生熟甜酸，钱往捐款箱里一放，接过志愿者用塑料袋装好的西瓜，转身走了。
为救孙女 乡村教师摆摊卖瓜
1942年5月出生的陈天清是南召县四棵树乡疙瘩坡村龙眼组人，他有两个儿子。大儿子陈春良48岁，在家务农，平时靠打零工供养俩孩子；小儿子陈栋梁46岁，因为患有高血压干不了重活儿，现在在南召县另外一个乡镇的建筑工地上给人看场子，
2000多元的工资仅够负担在长沙上大一的儿子，陈栋梁的妻子高记在家务农。
2012年6月，陈栋梁的小女儿陈滋堃在郑州大学第一附属医院确诊为再生障碍性贫血。在郑州治疗一个多月后，因为家里贫困，陈滋堃回家边上学边治疗，因为担心孩子磕磕碰碰流血止不住，高记得时刻照着孩子。
“一个月去郑州复查一次，西药也吃，中药也吃。治这4年多，花了可多钱，欠亲戚朋友一屁股债。”陈天清说，今年6月份，孙女的病情加重，他们在北京的空军总医院给孩子治病时，了解到有造血干细胞捐献者和孩子配型成功，但一打听费用，初期治疗都得四五十万，他们就又回来了。
眼看着二儿子家的日子过不下去，陈天清干着急没办法，在南阳的同学们听说了这事儿，纷纷替他出主意，有人建议他到南阳市区卖瓜。
一开始，陈天清放不下面子。有人说，你孙女的命要紧还是你的面子要紧？陈天清想了再想，6月30日下午搭车到了南阳。</string>
		<key>commentNum</key>
		<string>999</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>1</string>
		<key>title</key>
		<string>太污？ 王思聪投资节目上线三天遭下架</string>
		<key>content</key>
		<string>王思聪近日投资了一档脱口秀，这档脱口秀源自于美国版的《喜剧中心吐槽大会》。不过这档节目上线三天，却发现已经被下架，不仅没有了完整版，连节目花絮全都被下架。
　　这档节目被下架的原因不得而知。不过今年，广电总局相关领导曾在会议上强调，网络内容要和电视内容采用一样的监管力度，“电视不能播的，网络也不行”。
　　而这档节目在网络刷屏正是节目中出现频率极高的“污段子”。比如王琳被同班同学周杰调侃称是从以前的王小波，变成现在的王大锤。随后王琳和宅男争论起此前王琳的《男人装》照片，王琳在照片中大秀豪乳。这位95后宅男则表示：“我要对着你的照片打飞X都算乱伦。”此外王琳和周杰之间也有一些非常污的讨论。外界也猜测，这档节目下架则是因为“污”的原因。</string>
		<key>commentNum</key>
		<string>22222</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>2</string>
		<key>title</key>
		<string>没悬念！C罗=葡萄牙历史第一人 超越菲戈+尤西比奥</string>
		<key>content</key>
		<string>	如果没有这座欧洲杯冠军，C罗和尤西比奥的历史地位问题，恐怕还会继续争论下去。1962年欧洲冠军杯决赛，19岁的尤西比奥帮助本菲卡逆转皇马，本菲卡拿到欧冠冠军，终结皇马欧冠五连霸王朝；1966年世界杯小组赛最后一轮，尤西比奥的葡萄牙和贝利的巴西相遇，尤西比奥梅开二度，帮助葡萄牙3-1击败巴西。黑豹两次和贝利的直接对话一人打进5球；和“五星皇马”交手，亲自终结皇马的欧冠神话，60年代的尤西比奥，俨然是那个时代“梅西”。
	尤西比奥一生中，6次拿到葡萄牙联赛的最佳射手，两次穿上欧洲金靴。职业生涯745场比赛，尤西比奥打进733球，全部是正式比赛入球，场均接近1球的效率。1999年，为迎接21世纪的到来，回顾过去的100年足坛历史，国际足联组织了一次“20世纪最伟大球员评选”的活动。IFFHS的专家、记者投票中，尤西比奥拿到544票，排在20世纪最伟大球星排行榜的第9名。在FIFA官网投票中，尤西比奥的支持率更是惊人：马拉多纳53.6%的支持率位居第1，贝利18.53%的得票率排名第2，尤西比奥6.21%%的得票率高居第3位。1999年英国权威的《世界足球》杂志评选20世纪最伟大的球星榜单，尤西比奥也进入前10名。
	2014年1月5日，尤西比奥去世，享年71岁，那时候，关于黑豹和C罗谁更伟大的话题引爆网络。2年半前，C罗的确不具备完全压倒尤西比奥的资历，但3年之后再看，C罗已经超越黑豹。论进球，C罗俱乐部生涯673场487球，虽然比不上黑豹，但C罗在皇马的7年，348场打进364球，场均进球超过1个。C罗的冠军奖杯含金量也超越黑豹：3次欧冠冠军，3次英超冠军，1次西甲冠军，还有3座，即将是4座金球奖。尤西比奥只有1965年的金球奖，1962和1966年则是排名金球奖第2名。尤西比奥在本菲卡拿到11座联赛冠军，堪称国民英雄，但C罗闯荡英超西甲，打出世界第1地位，也是在外为葡萄牙争光，这点两人各有优势。</string>
		<key>commentNum</key>
		<string>6666</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>3</string>
		<key>title</key>
		<string>不可救药！没落的中关村电子秤居然还在售假</string>
		<key>content</key>
		<string>从路边收购用过的包装盒、空硒鼓等，装上国产墨粉，就冒充佳能、惠普等办公耗材销售，成本仅几十元，却卖数百元。近日，海淀工商分局展开统一行动，在中关村科贸电子城市场，查获涉嫌假冒、以旧翻新的问题耗材。
当天下午，根据商标权利人的举报，海淀工商分局出动数十名执法人员，对中关村电子市场的电脑、电脑配件、相机配件、复印机耗材、版纸等产品进行突击检查。在科贸电子城3层的一个商铺，执法人员发现大量假冒名牌办公耗材，打假人员初步鉴定为侵权产品。而在该电子城4层的一家商铺，执法人员发现，商户的办公耗材从外包装和外表看，像真的，但是打开发现，里面的商标明显与真品不一样。此外，执法人员还发现大量空的佳能包装盒。
对此，商户辩称有些耗材是别人买打印机，把硒鼓卖给他们的，并称这些产品是原装的。
而据打假人员介绍，一些商户从路边收购使用过的硒鼓，然后装上国产墨粉，以旧翻新，冒充新品出售。成本仅几十元，却卖到数百元。
据初步统计，当天查获涉嫌假冒的硒鼓上百个，包装袋近300个。</string>
		<key>commentNum</key>
		<string>5959</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>4</string>
		<key>title</key>
		<string>习近平上半年调研凸显改革创新量大主线</string>
		<key>content</key>
		<string>中新社北京7月9日电 (记者 梁晓辉)全面深化改革，是决定当代中国命运的“关键一招”；创新发展，是引领中国发展的第一动力。在“十三五”规划开局之年进入下半程时，回顾中共中央总书记、国家主席习近平2016年上半年的调研路径和系列讲话，人们可以清晰看到改革和创新这两条贯穿始终的主线。
“地方是推进改革的重要力量”。在中央深改组第二十五次会议上，习近平如是强调地方在改革中的作用。事实上，对地方改革的重视，一直贯穿于习近平的国内调研路径。今年上半年，习近平先后去到重庆、安徽、黑龙江调研考察，并各有侧重地强调落实改革任务。
在经济增速亮眼的重庆，习近平强调，要加大供给侧结构性改革力度，重点是促进产能过剩有效化解，促进产业优化重组，降低企业成本，发展战略性新兴产业和现代服务业，增加公共产品和服务供给，增强经济持续增长动力。
在农村改革的发源地安徽小岗村，习近平强调，解决农业农村发展面临的各种矛盾和问题，根本靠深化改革。最大的政策，就是必须坚持和完善农村基本经营制度，坚持农村土地集体所有，坚持家庭经营基础性地位，坚持稳定土地承包关系。
在经济转型压力较大的黑龙江，习近平强调，要深化改革开放优化发展环境，闯出老工业基地振兴发展新路。黑龙江转方式调结构任务艰巨，要着力优化产业结构，改造升级“老字号”，深度开发“原字号”，培育壮大“新字号”。</string>
		<key>commentNum</key>
		<string>1</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>5</string>
		<key>title</key>
		<string>男子网售200多张上海迪斯尼假门票 获利10W元被拘</string>
		<key>content</key>
		<string>网购10张上海迪士尼门票全是假的，上海市民唐女士在乐园门口懵了。
7月11日，澎湃新闻记者从上海警方获悉，犯罪嫌疑人郑某出售上海迪士尼假门票200余张，共获利10万余元，目前因涉嫌诈骗已被警方依法刑事拘留。
浦东公安分局近日接到唐女士报案，远赴广东省成功将涉嫌诈骗的犯罪嫌疑人郑某抓获归案。
据上海警方介绍，在上海迪士尼开园前，唐女士通过手机在一家名为“大中华区批发部”的网店购买了10张“迪士尼门票”，花了3000元。然而，当唐女士与家人一起去乐园游玩时，他们被工作人员告知手里的10张门票全是假票。唐女士立即用手机再次登录购物网站，却再也找不到那家购票网店。
此后，唐女士向浦东公安分局临港分区指挥部报案。“大中华区批发部”网店究竟是什么情况？所卖假票从何而来？还有多少购买到“假门票”的被害人？临港分区指挥部接报后高度重视，迅速组织精干警力着手展开相关调查。
民警与购物网站运营商取得联系，在运营商的协助下，获得了几条较为模糊的线索：“大中华区批发部”网店经营者为广东人，平时运维网店的地址也在广东，2016年4月起开始售卖伪造的上海迪士尼乐园门票，仅4月份交易记录就达数百条。可当民警进一步对情况进行核查时发现，嫌疑人注册网店所用的是假身份，运维地址也仅有个大概范围。</string>
		<key>commentNum</key>
		<string>318</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>6</string>
		<key>title</key>
		<string>专家：非病毒性肝炎可成多种疾病温床</string>
		<key>content</key>
		<string>	７月２８日是第六个世界肝炎日。肝病专家提示：脂肪性、酒精性、药物性肝炎可成为多种疾病的温床，应注意保持良好生活习惯，并定期体检。
　　呼和浩特市第二医院是当地肝病防治中心。该院副院长王彩生告诉记者，近年来国家对肝病防治加大投入，传统意义上的乙肝、丙肝患者显著减少，而酒精肝、脂肪肝、药物肝患者不断增加，这一现象并未引起公众足够的重视。
　　王彩生介绍，脂肪肝是脂肪性肝炎的简称，它常被人们忽视。有暴饮暴食、爱吃肉、不运动等习惯的人，更有可能患脂肪肝。此外，包括酒精肝、药物肝以及摄入过多添加剂等问题，都会造成不同程度的肝损伤。早期肝病虽有如乏力、厌油等表现，但是因症状缺乏特异性，不体检很难发现。一旦病情加剧引发糖代谢紊乱，便会成为糖尿病、冠心病等疾病的温床。
　　专家建议，除控制酒精摄入量、遵医嘱用药并尽量避免接触农药、重金属等有害物质外，还应养成良好生活习惯，保证一年至少体检一次，尽早防治肝病，不为其他疾病埋下隐患。</string>
		<key>commentNum</key>
		<string>555</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
	<dict>
		<key>newsType</key>
		<string>7</string>
		<key>title</key>
		<string>俄“撑杆跳女皇”无缘里约奥运泪洒总统见面会</string>
		<key>content</key>
		<string>　　国际奥委会7月24日做出决议，不对俄罗斯进行全面禁赛，但每个项目哪些俄罗斯运动员有资格去里约参赛，则由各个单项体育组织来确定。但之前，国际体育仲裁法庭已驳回俄罗斯针对国际田径联合会禁止其参与2016年奥运会的上诉，至此，包括俄罗斯“撑杆跳女皇”伊辛巴耶娃在内的67名田径选手将铁定无缘里约奥运会。
　　据俄罗斯塔斯社7月27日报道，俄罗斯总统普京当天在克林姆林宫为俄罗斯奥运代表团举行饯行会。49名无缘参加俄选手也参加了普京的接见，包括著名田径明星叶莲娜•伊辛巴耶娃。作为女子撑杆跳纪录保持者，伊辛巴耶娃的缺阵无疑对俄罗斯代表团来说是个不小的打击。她在接受普京会见时未能忍住泪水。在自己的讲话开始前甚至用双手捂住脸掩盖伤心。
　　“俄罗斯运动员被粗暴对待，我们遭受不公，很多运动员为奥运备战多年，如今，他们的目标与梦想都被无情剥夺。” 伊辛巴耶娃强忍泪水， “希望参加奥运会的运动员努力拼搏，让‘世界为之颤抖’，让俄罗斯国歌不断在里约上空响起。” 同时，她请求普京能够为俄罗斯运动提供保护，“我们非常相信您，我们爱您，非常感谢您的支持。我们需要惩罚所有参与兴奋剂事件的人。”
　　对于国际田联做出的全面禁止俄罗斯田径选手参加里约奥运会的决定，普京表示，“我们不能同意不分青红皂白就对我们田径运动员采取禁赛的措施。我想强调的是，很多人完全没有禁药史。我们不能也不会妥协，这是所谓的公开歧视，事实上也正是如此。这根本不符合奥林匹克的原则。”普京指出，“但我们只能通过合法手段讨回公道，严格按照奥林匹克宪章行动。我相信，俄罗斯奥委会将继续捍卫我国运动员的利益。”
　　对于其他已获准参加奥运会的本国运动员，普京呼吁他们向世界证明俄罗斯人能诚实公开地取胜，并承诺尽一切努力捍卫他们的名誉。
　　普京称：“在我们的俄罗斯性格中有一个非常卓越的特点——困境会让我们更坚强团结，唤起我们巨大的精神力量，并激励我们勇攀高峰。我衷心祝愿各位充分展示自己的才华和技能，向全世界证明，我们能诚实公开地获胜。我们巨大的国家将全体为你们加油助威。” </string>
		<key>commentNum</key>
		<string>998</string>
		<key>isRead</key>
		<string>0</string>
	</dict>
</array>
</plist>
